[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/flatjson"]
	path = deps/flatjson
	url = git@github.com:niXman/flatjson.git
[submodule "deps/json"]
	path = deps/json
	url = git@github.com:nlohmann/json.git
[submodule "deps/--force"]
	path = deps/--force
	url = git@github.com:glfw/glfw.git
[submodule "deps/stb"]
	path = deps/stb
	url = git@github.com:nothings/stb.git
